@model SiteViewModel

@{
    ViewBag.Title = "Finish Site";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<form asp-action="Finish">
    <div class="row  align-items-center justify-content-center">
        <div class="col-md-6 ">
            <div class="form-group mt-2">
                <label asp-for="Client.User.Address" class="control-label mb-1"><b>Address</b></label>
                <input asp-for="Client.User.Address" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group mt-2">
                <label asp-for="Client.User.Email" class="control-label mb-1"><b>Client's Email</b></label>
                <input asp-for="Client.User.Email" class="form-control" disabled="disabled" />
            </div>
            <br>
            <div class="form-group  text-center">
                <input type="submit" value="Finish" class="btn btn-purple" />
            </div>
        </div>
    </div>
</form>