@model RequestViewModel

@{
    ViewBag.Title = "Delete Request";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<form asp-action="Delete">
    <div class="row  align-items-center justify-content-center">
        <div class="col-md-6 ">
            <div class="form-group mt-2">
                <label asp-for="Client.User.Address" class="control-label mb-1"><b>Address</b></label>
                <input asp-for="Client.User.Address" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group mt-2">
                <label asp-for="Constructor.User.Email" class="control-label mb-1"><b>Constructor Email</b></label>
                <input asp-for="Constructor.User.Email" class="form-control" disabled="disabled" />
            </div>
            <br>

            <div class="form-group  text-center">
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a asp-controller="Request" asp-action="Mine" class="ml-2 btn btn-secondary">Cancel</a>
            </div>
        </div>
    </div>
</form>