@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="register-photo">
    <div class="form-container">
        <div class="image-container">
            <div class="image-holder"></div>

            <form id="registerForm" method="post" enctype="multipart/form-data">
                <h2 class="text-center"><strong>@ViewData["Title"]</strong> an account.</h2>
                <div asp-validation-summary="ModelOnly" class="text-white"></div>
                <div class="form-group">
                    <input asp-for="Email" class="form-control" placeholder="Email">
                    <span asp-validation-for="Email" class="text-white"></span>
                </div>
                <div class="form-group">
                    <input asp-for="FirstName" class="form-control" placeholder="FirstName">
                    <span asp-validation-for="FirstName" class="text-white"></span>
                </div>
                <div class="form-group">
                    <input asp-for="LastName" class="form-control" placeholder="LastName">
                    <span asp-validation-for="LastName" class="text-white"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Password" class="form-control" placeholder="Password">
                    <span asp-validation-for="Password" class="text-white"></span>
                </div>
                <div class="form-group">
                    <input asp-for="PasswordRepeat" class="form-control" placeholder="Password (repeat)">
                    <span asp-validation-for="PasswordRepeat" class="text-white"></span>
                </div>
                <div class="form-group">
                    <input asp-for="PhoneNumber" class="form-control" placeholder="Phone number">
                    <span asp-validation-for="PhoneNumber" class="text-white"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Address" class="form-control" placeholder="Address">
                    <span asp-validation-for="Address" class="text-white"></span>
                </div>
                <div class="form-group">
                    <input asp-for="City" class="form-control" placeholder="City">
                    <span asp-validation-for="City" class="text-white"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Country" class="form-control" placeholder="Country">
                    <span asp-validation-for="Country" class="text-white"></span>
                </div>
                <div class="form-group">
                    <input asp-for="ProfilePicture" accept="image/gif, image/jpeg, image/png" class="text-white">
                    <span asp-validation-for="ProfilePicture" class="text-white"></span>
                </div>
                <div class="form-group">
                    <img alt="Uploaded Image" accept="image/gif, image/jpeg, image/png" style="display:none;">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Register</button>
                </div>
                <br>
                <a href="#" class="already">You already have an account? Login here.</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}